<h1>{{title}}</h1>

<ul>
  <li><span class="singleItemProperty">Description:</span>{{description}}</li>
  <li><span class="singleItemProperty">Owner:</span>{{owner}}</li>
  <li><span class="singleItemProperty">Bid Number:</span>{{bidNumber}}</li>
  <li><span class="singleItemProperty">Starting Price:</span>{{estStartingPrice}}</li>
  <li><span class="singleItemProperty">History:</span>{{itemHistory}}</li>
  <li><span class="singleItemProperty">Year Acquired:</span>{{yearAcquired}}</li>
  <li><span class="singleItemProperty">Category:</span>{{category}}</li>
</ul>

<img class="itemImage" src="{{image}}">
<br>
<br>
<button class="btn btn-danger" {{action "delete"}}>Delete</button>
