<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h2 class="section-header">New Auction Item</h2>

    <form>
      <div class="form-group">
        <label for="text">Item:</label>
        {{input value=title class="form-control"}}
      </div>

      <div class="form-group">
        <label for="text">Description:</label>
        {{input value=description class="form-control"}}
      </div>

      <div class="form-group">
        <label for="text">Current owner:</label>
        {{input value=owner class="form-control"}}
      </div>


      <div class="form-group">
        <label for="text">Bid number:</label>
        {{input value=bidNumber class="form-control"}}
      </div>


      <div class="form-group">
        <label for="text">Estimated starting price:</label>
        {{input value=estStartingPrice class="form-control"}}
      </div>


      <div class="form-group">
        <label for="text">Item history:</label>
        {{input value=itemHistory class="form-control"}}
      </div>

      <div class="form-group">
        <label for="text">Image url:</label>
        {{input value=image class="form-control"}}
      </div>

      <button class="btn btn-primary" {{action "save"}}>Submit</button>

    </form>

  </div>
</div>
